build*/
cmake-build-*/
/3rdparty/*
.vs*/
install*/
*.user
.cache
.env
*.egg-info
__pycache__/
*.so
*.dylib
*.a
*.lib
*.exp
*.def
*.manifest
*.res
*.egg-info
*.whl
.mypy_cache/
version_info.properties
pylibfranka/docs/_build/
pylibfranka/_version.py
